<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">


<!--  Sidebar End -->
<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
 
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Crear Alumno <span><i class="ti ti-friends" style="font-size: 20px;"></i></span></h5>
                <div class="card">
                  <div class="card-body">
                    <form [formGroup]="form">
                      <div class="mb-3">
                        <label for="Nombre" class="form-label"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</label>
                        <input class="form-control" formControlName="Nombre" id="Nombre">
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('Nombre')">El Nombre es obligatorio</p>
                      <div class="mb-3">
                        <label for="Apellidos" class="form-label"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Apellidos</label>
                        <input class="form-control" formControlName="Apellidos" id="Apellidos">
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('Apellidos')">Los Apellidos son obligatorios</p>
                      <div class="mb-3">
                        <label for="EmailTutor" class="form-label"><span><i class="ti ti-mail" style="font-size: 15px;"></i></span> Email del tutor</label>
                        <input type="email" class="form-control" formControlName="EmailTutor" id="EmailTutor">
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('EmailTutor')">El Email del tutor es obligatorio</p>
                      <div class="mb-3">
                        <label for="Contraseña" class="form-label"><span><i class="ti ti-password" style="font-size: 15px;"></i></span> Contraseña</label>
                        <input type="password" class="form-control" formControlName="Contraseña" id="Contraseña">
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('Contraseña')">La Contraseña es obligatoria</p>
                      <div class="mb-3">
                        <label for="FechaNacimiento" class="form-label"><span><i class="ti ti-cake" style="font-size: 15px;"></i></span> Fecha de Nacimiento</label>
                        <input type="date" class="form-control" formControlName="FechaNacimiento" id="FechaNacimiento">
                        <div *ngIf="form.get('FechaNacimiento')?.hasError('invalidEdad')" class="text-danger">La edad debe estar entre 3 y 15 años.</div>
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('FechaNacimiento')">La Fecha de Nacimiento es obligatoria</p>
                      <div class="mb-3">
                        <label for="ID_Clase" class="form-label"><span><i class="ti ti-school" style="font-size: 15px;"></i></span> Clase</label>
                        <select class="form-control" formControlName="ID_Clase" id="ID_Clase">
                          <option *ngFor="let clase of clasesData.clases" [value]="clase.ID_Clase">
                            {{clase.Nombre}}
                          </option>
                        </select>
                      </div>
                      <p class="text-danger" *ngIf="!validarForm('ID_Clase')">La Clase es obligatoria</p>
                      <button class="btn btn-primary" (click)="crearAlumno()"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Aceptar</button>
                      <a href="/centros/ver-alumnos" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
    
  </div>
</div>
</div>
