<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <h2 class="text-center"><strong>Condiciones de Uso</strong></h2>
                            <h4 class="text-center">Introducción</h4>
                            <p style="text-align: justify; ">Bienvenido a Blooming. Al acceder y utilizar nuestro sitio web, usted acepta cumplir y
                                 estar sujeto a las siguientes Condiciones de Uso. Si no está de acuerdo con alguna parte de estas condiciones, 
                                 no debe utilizar nuestro sitio web.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Uso del Sitio Web</h4>
                                            <ol id="lista3">
                                                <li>Elegibilidad: Usted debe tener al menos 18 años para usar nuestro sitio web. Al utilizar este sitio, usted declara y garantiza que cumple con este requisito de edad.</li>
                                                <li>Cuenta de Usuario: Para acceder a ciertas funciones de nuestro sitio, es posible que deba crear una cuenta. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña, y de todas las actividades que ocurran bajo su cuenta. Debe notificarnos de inmediato cualquier uso no autorizado de su cuenta.</li>
                                                <li>Uso Aceptable: Usted se compromete a utilizar nuestro sitio web de manera legal y respetuosa. No puede utilizar nuestro sitio para:</li>
                                                <ol>
                                                    <li>Transmitir cualquier contenido que sea ilegal, dañino, amenazante, abusivo, difamatorio, obsceno, invasivo de la privacidad, o de cualquier otra manera objetable.</li>
                                                    <li>Infringir los derechos de propiedad intelectual de otros.</li>
                                                    <li>Interferir o interrumpir el funcionamiento del sitio o de los servidores o redes conectados al sitio.</li>
                                                    <li>Recopilar o almacenar datos personales de otros usuarios sin su consentimiento explícito.</li>
                                                </ol>
                                            </ol>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Propiedad Intelectual</h4>
                                            <p style="text-align: justify; font-size: 15px;">Todo el contenido presente en este sitio web, incluyendo texto, gráficos, logotipos, imágenes y software, es propiedad de Blooming o de nuestros licenciantes y está protegido por las leyes de propiedad intelectual. Usted no puede reproducir, distribuir, modificar, crear obras derivadas, mostrar públicamente, ejecutar públicamente, volver a publicar, descargar, almacenar o transmitir cualquier material de nuestro sitio sin nuestro permiso previo por escrito.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Enlaces a Sitios de Terceros</h4>
                                            <p style="text-align: justify; font-size: 15px;">Nuestro sitio puede contener enlaces a sitios web de terceros que no son propiedad ni están controlados por nosotros. No somos responsables por el contenido, las políticas de privacidad o las prácticas de sitios de terceros. Usted accede a estos sitios bajo su propio riesgo.:</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Limitación de Responsabilidad</h4>
                                            <p style="text-align: justify; font-size: 15px;">En la medida máxima permitida por la ley aplicable, [Nombre de tu Empresa] no será responsable por daños directos, indirectos, incidentales, especiales, consecuentes o ejemplares, incluyendo, pero no limitado a, daños por pérdida de beneficios, uso, datos u otras pérdidas intangibles resultantes de:</p>
                                            <ol>
                                                <li>El uso o la imposibilidad de usar nuestro sitio.</li>
                                                <li>El acceso no autorizado o la alteración de sus transmisiones o datos.</li>
                                                <li>Declaraciones o conductas de cualquier tercero en el sitio web.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Modificaciones de las Condiciones de Uso</h4>
                                            <p style="text-align: justify; font-size: 15px;">Nos reservamos el derecho de modificar estas Condiciones de Uso en cualquier momento. Cualquier cambio se publicará en esta página y será efectivo inmediatamente después de su publicación. Le recomendamos que revise periódicamente esta página para estar al tanto de cualquier cambio.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Terminación</h4>
                                            <p style="text-align: justify; font-size: 15px;">Podemos suspender o terminar su acceso a nuestro sitio web, sin previo aviso ni responsabilidad, por cualquier motivo, incluyendo, sin limitación, si usted incumple estas Condiciones de Uso.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Ley Aplicable</h4>
                                            <p style="text-align: justify; font-size: 15px;">Estas Condiciones de Uso se regirán e interpretarán de acuerdo con las leyes de [tu país o estado], sin dar efecto a ningún principio de conflicto de leyes. Cualquier disputa derivada de o relacionada con estas condiciones se someterá a la jurisdicción exclusiva de los tribunales de Alicante.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Contacto</h4>
                                            <p style="text-align: justify; font-size: 15px;">Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad o nuestras prácticas de privacidad, no dude en contactarnos en:</p>
                                        
                                            <p style="text-align: justify; font-size: 15px;">Blooming</p>
                                            <p style="text-align: justify; font-size: 15px;">blooming.abp&#64;gmail.com</p>
                                            <p style="text-align: justify; font-size: 15px;">Carr. de San Vicente del Raspeig, s/n</p>
                                            <p style="text-align: justify; font-size: 15px;">Fecha de última actualización: 22-05-2024</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
    </div>  
</div>
