<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <h2 class="text-center"><strong>Aviso Legal</strong></h2>
                            <p style="text-align: justify; ">En cumplimiento de lo previsto en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, 
                                así como en otras normas de legal aplicación, se pone en conocimiento de los usuarios del Portal de Internet www.ua.es los siguientes datos de información general:</p>
                                <ol>
                                    <li>El presente portal constituye el Sitio Oficial en Internet de BLOOMING. Ha sido creado y es mantenido a instancias de "DEK4", quien es su propietaria, así como de aquellos nombres de dominio que a él conducen.</li>
                                    <li>BLOOMING es una aplicación web que fue creada como proyecto educativo por la UNIVERSIDAD DE ALICANTE</li>
                                    <li>La sede de BLOOMING se escuentra en: Carr. de San Vicente del Raspeig, San Vicente del Raspeig - Alicante, España</li>
                                </ol>
                        </div>
                    </div>
                </div>
        </div>
    
    </div>  
</div>
