
.profile-container {
  margin-top: 50px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #fff;
}  

#chart {
  position: relative;
  height: 45vh;
  overflow: hidden;
}

.gravedad-circle {
  width: 8px;
  height: 8px;
  border-radius: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid transparent;
  font-weight: bold;
}

.muybueno-gravedad {
  background-color: var(--mi-verde);
  margin: 0 auto;
  text-align: center;
  border-radius: 65px;
  color: white;
}

.bueno-gravedad {
  /* background-color: rgb(255, 174, 31); */
  background-color: #8aca69;
  margin: 0 auto;
  text-align: center;
  border-radius: 65px;
  color: white;
}

.normal-gravedad {
  /* background-color: rgb(255, 174, 31); */
  background-color: #dce232;
  margin: 0 auto;
  text-align: center;
  border-radius: 65px;
  color: white;
}

.malo-gravedad {
  background-color: #F7C65B;
  margin: 0 auto;
  text-align: center;
  border-radius: 65px;
  color: white;
}

.muymalo-gravedad {
  background-color: rgba(233, 31, 31, 0.855);
  margin: 0 auto;
  text-align: center;
  border-radius: 65px;
  color: white;
}

.bg-danger {
  background-color: rgb(233, 31, 31) !important;
}

.bg-warning {
  background-color: rgb(255, 174, 31) !important;
}

.bg-success {
  background-color: green !important;
}

li {
  margin-top: 5px;
}
