<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper" style="margin-left: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold">{{alumnosData.Nombre}} {{alumnosData.Apellidos}}</h5>
                                            <h5 class="fw-semibold mb-3"> Clase: {{nombreClase}}</h5>
                                        </div>
                                        <div class="col-4 text-end">
                                            <img src="../assets/images/avatar.jpg" alt="Foto de perfil" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="mb-4">
                                    <h5 class="card-title fw-semibold">Estado actual</h5>
                                </div>
                                <table class="table text-nowrap mb-0 align-middle">
                                    <tbody>
                                        <tr *ngFor="let resultado of resultadosComparacion"> 
                                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{resultado.nombre}}</h6></td>
                                            <td class="border-bottom-0 gravedad-circle" style="margin-top: 10px;" [ngClass]="getGravedadClass(alumnosData.Ambitos[resultado.nombre])">
                                                {{alumnosData.Ambitos[resultado.nombre]}} 
                                            </td>
                                            
                                            <td class="border-bottom-0" style="padding-left: 2px; padding-right: 0px;">
                                                <span style="color: red; font-size: 14px;" *ngIf="resultado.mejora === 'empeora'">
                                                    <i class="ti ti-trending-down"></i> -{{resultado.cambio}}%
                                                </span>
                                                <span style="color: green; font-size: 14px;" *ngIf="resultado.mejora === 'mejora'">
                                                    <i class="ti ti-trending-up"></i> +{{resultado.cambio}}%
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold"><span><i class="ti ti-graph" style="font-size: 20px;"></i></span> Gráfica resumen</h5>
                                </div>
                                <div>
                                    <select class="form-select py-1 ps-2 border-1 bg-light rounded"  (change)="cambiarDias($event)">
                                        <option value=7>Últimos 7 días</option>
                                        <option value=15>Últimos 15 días</option>
                                        <option value=30>Últimos 30 días</option>
                                    </select>
                                </div>
                            </div>
                            <div id="chart"></div>
                            <p class="text-center" *ngIf="mostrarMensaje && !hayDatos">No hay datos registrados todavía</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="mb-3 mb-sm-0 d-flex justify-content-between">
                                <h5 class="card-title fw-semibold">Preguntas recientes</h5>
                                <select class="form-select w-auto ms-0 ms-sm-2 me-8 py-1 pe-7 ps-2 border-1 bg-light rounded" (change)="cambiarGravedad($event)">
                                    <option value=-1>Todas</option>
                                    <option value=-2>Alarmantes</option>
                                    <option value=1>Normales</option>
                                    <option value=2>Mejores</option>
                                </select>
                            </div>
                            <div class="table-responsive" *ngIf="respuestasData.length > 0; else noRespuestas">
                                <table class="table text-nowrap mb-0 align-middle">
                                    <tbody>
                                        <tr *ngFor="let respuesta of respuestasData; let i = index">
                                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{i+1}}</h6></td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">{{respuesta.Pregunta.TextoPregunta}}</h6>
                                                <span class="fw-normal">{{respuesta.Pregunta.Ambito.Nombre}}</span>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">{{respuesta.Opcion.TextoOpcion}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #noRespuestas>
                                <p class="text-center" style="margin-top: 16px; font-size: 20px;">No hay respuestas</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold" style=" text-align: center;"><span><i class="ti ti-arrow-narrow-down" style="font-size: 15px;"></i></span> Descargar informe </h5>
                            </div>
                            <div style=" text-align: center; margin-top: 20px;">
                                <ul>
                                    <li style="margin-top: 7px;"><div><button type="button" class="btn btn-primary m-1" (click)="generarPDF()">PDF</button>
                                        <button type="button" class="btn btn-primary m-1" (click)="generarHTML()">HTML</button> 
                                    </div></li>
                                    <li style="margin-top: 7px;"><div>
                                        <button type="button" class="btn btn-primary m-1" (click)="generarXML()">XML</button>
                                        <button type="button" class="btn btn-primary m-1" (click)="generarCSV()">CSV</button>
                                    </div></li>
                                </ul>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold" style=" text-align: center;"><span><i class="ti ti-arrow-narrow-down" style="font-size: 15px;"></i></span> Ver más preguntas </h5>
                            </div>
                            <div style=" text-align: center; margin-top: 20px;">
                                <ul>
                                    <li style="margin-top: 7px;"><div>
                                        <button (click)="verMasPreguntas(alumnosData.ID_Alumno)" type="button" class="btn btn-primary m-1">Más preguntas</button>
                                    </div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-dark" (click)="volver()"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</button>
        </div>
    </div>
    <br>
    <br>
    
</div>

