<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Editar Profesor <span><i class="ti ti-users" style="font-size: 20px;"></i></span></h5>
                <div class="card">
                  <div class="card-body">
                    <form [formGroup]="form">
                      <div class="mb-3">
                        <label for="Nombre" class="form-label"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</label>
                      <input class="form-control" formControlName="Nombre" id="Nombre">
                      </div>
                      <div class="mb-3">
                        <label for="Apellidos" class="form-label"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Apellidos</label>
                        <input class="form-control" formControlName="Apellidos" id="Apellidos">
                      </div>
                      <div class="mb-3">
                        <label for="Email" class="form-label"><span><i class="ti ti-mail" style="font-size: 15px;"></i></span> Email</label>
                        <input type="email" class="form-control" formControlName="Email" id="Email">
                        </div>
                      <div class="mb-3">
                        <label for="ID_Clase" class="form-label"><span><i class="ti ti-school" style="font-size: 15px;"></i></span> Clase</label>
                        <select class="form-control" formControlName="ID_Clase" id="ID_Clase">
                          <option *ngFor="let clase of clasesData.clases" [value]="clase.ID_Clase">
                            {{clase.Nombre}}
                          </option>
                        </select>
                      </div>
                      <button class="btn btn-primary" (click)="actualizarProfesor()"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Aceptar</button>
                      <a routerLink="/centros/ver-profesores"class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
    
  </div>
</div>
</div>
