<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!--  Main wrapper -->
<div class="body-wrapper">
  <div class="container-fluid">
    <!--  Row 1 -->
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold mb-4">Bienvenido de nuevo</h5>
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center">
                  <a href="/" class="btn btn-outline-dark btn-custom custom1">Centros</a>

                  <a href="/" class="btn btn-outline-dark btn-custom"> Profesores</a>

                  <a href="/" class="btn btn-outline-dark btn-custom">Alumnos</a>

                  <a href="/" class="btn btn-outline-dark btn-custom">Ver Clases</a>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
  </div>
</div>
</div>
