<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="../assets/images/logos/logo.png" width="180" alt="">
            </a>
            <p class="text-center">¡Bienvenido de nuevo!</p>
            <a href="./login" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"><span><i class="ti ti-user" style="font-size: 15px;"></i></span> Inicia Sesión</a>
            <p class="text-center clase">¿Eres nuevo? Registra tu centro clicando en el botón de abajo.</p>
            <a href="./registro" class="btn btn-outline-primary w-100 py-8 fs-4 mb-4 rounded-2"><span><i class="ti ti-user-plus" style="font-size: 15px;"></i></span> Registra tu centro</a>
          </div>
          
        </div>
        <div class="card-body separar">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4" style="text-align: center;">¿No sabes qué es Blooming?</h5>
              <p class="mb-0" style="text-align: center;">Entra en nuestra página web de DEK4 para informarte.</p>
              <a href="https://blooming.ovh/dek4" class="text-nowrap logo-img text-center d-block py-3 w-100" target="_blank" style="color: #76c24f;">¡Pulsa aquí!</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>

