<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="../assets/images/logos/logo.png" width="180" alt="">
            </a>
            <p class="text-center">¡Bienvenido a Blooming!</p>
            <form [formGroup]="form">
              <div class="mb-3">
                <label for="Usuario" class="form-label"><span><i class="ti ti-mail" style="font-size: 15px;"></i></span> Usuario / Email</label>
                <input class="form-control" formControlName="Usuario" id="Usuario" placeholder="Introduce tu usuario/email">
              </div>
              <p class="text-danger" *ngIf="!validarLogin('Usuario')">El usuario es obligatorio</p>
              <div class="mb-4">
                <label for="Contraseña" class="form-label"><span><i class="ti ti-password" style="font-size: 15px;"></i></span> Contraseña</label>
                <input type="password" class="form-control" formControlName="Contraseña" id="Constraseña" placeholder="Introduce tu contraseña">
              </div>
              <p class="text-danger" *ngIf="!validarLogin('Contraseña')">La contraseña es obligatoria</p>
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                  <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" formControlName="Remember">
                  <label class="form-check-label text-dark" for="flexCheckChecked">
                    Recuérdame
                  </label>
                </div>
                <!--- <a class="text-primary fw-bold" [routerLink]="['/recovery']">¿Has olvidado tu contraseña?</a>-->
              </div>
              <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" (click)="login()"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Entrar</button>
              <button [routerLink]="['/inicio']" class="btn btn-outline-dark w-100 py-8 fs-4 mb-4 rounded-2"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</button>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">¿Eres un Centro?</p>
                <a style="font-size: medium;" class="text-primary fw-bold ms-2" [routerLink]="['/registro']">Regístrate</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>