<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  <div class="container-fluid">
    <!--  Row 1 -->
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
            <div class="card-body text-center">
              <h1 class="card-title fw-semibold mb-4">Tus componentes <span><i class="ti ti-components" style="font-size: 20px;"></i></span></h1>
              <div class="card">
                <div class="card-body d-flex flex-column justify-content-center">
                  <div class="row mb-2">
                    <div class="col-md-6">
                      <a href="./admin/ver-centros" class="btn btn-outline-dark btn-custom"><span><i class="ti ti-home" style="font-size: 15px;"></i></span> Centros</a>
                    </div>
                    <div class="col-md-6">
                      <a href="./admin/ver-clases" class="btn btn-outline-dark btn-custom "><span><i class="ti ti-school" style="font-size: 15px;"></i></span> Clases</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <a href="./admin/ver-profesores" class="btn btn-outline-dark btn-custom"><span><i class="ti ti-users" style="font-size: 15px;"></i></span> Profesores</a>
                    </div>
                    <div class="col-md-6">
                      <a href="./admin/ver-alumnos" class="btn btn-outline-dark btn-custom "><span><i class="ti ti-friends" style="font-size: 15px;"></i></span> Alumnos</a>
                    </div>
                  </div>
              </div>
            </div>


            <!--<div class="card">
                <div class="card-body d-flex flex-column justify-content-center">
                  <a href="./admin/ver-centros" class="btn btn-outline-dark btn-custom custom1"><span><i class="ti ti-home" style="font-size: 15px;"></i></span> Centros</a>
                  <a href="./admin/ver-clases" class="btn btn-outline-dark btn-custom"><span><i class="ti ti-school" style="font-size: 15px;"></i></span> Clases</a>
                  <a href="./admin/ver-profesores" class="btn btn-outline-dark btn-custom"><span><i class="ti ti-users" style="font-size: 15px;"></i></span> Profesores</a>
                  <a href="./admin/ver-alumnos" class="btn btn-outline-dark btn-custom"><span><i class="ti ti-friends" style="font-size: 15px;"></i></span> Alumnos</a>
                </div>
            </div> --->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
