<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<div class="body-wrapper" style="margin-left: 0;">
  <div class="container-fluid">
      <!--  Row 1 -->

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1>Tus Clases <span><i class="ti ti-school" style="font-size: 30px;"></i></span></h1>
            <div class="row">
              <div class="col-md-4" *ngFor="let clase of clasesData.clases">
                <div class="card" id="efecto"> 
                  <button (click)="verClase(clase.ID_Clase)">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                      <div class="card-body">
                        <div class="tarjetas-clases">
                          <span class="card-title" style="text-align: center; font-size: 20px; margin-bottom: 20px; font-weight: bold;">{{clase.Nombre}}</span>
                          <div id="tu-clase" *ngIf="esClaseProfe(clase.ID_Clase)">
                            Tu clase 
                          </div>
                          <span id="num-alumnos" >
                            {{clase.NumAlumnos}} <i class="ti ti-user" style="font-size: 15px;"></i>
                          </span>
                        </div>
                        <div class= "echarts">
                          <div  id="echarts-chart-{{clase.ID_Clase}}" style="width: 200px; height:200px; margin: auto;"></div>
                          <div *ngFor="let resultado of resultadosComparacion" >
                            <ng-container *ngIf="resultado.clase === clase.ID_Clase">
                              <span style="color: red; font-size: 14px;" *ngIf="resultado.mejora === 'empeora'">
                                <i class="ti ti-trending-down"></i> -{{resultado.cambio}}%
                              </span>
                              <span style="color: green; font-size: 14px;" *ngIf="resultado.mejora === 'mejora'">
                                <i class="ti ti-trending-up"></i> +{{resultado.cambio}}%
                              </span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

  </div>
</div>