#chart2 {
    width: 800px; /* Ancho deseado */
    height: 500px;
    margin: 0 auto;
}
.body-wrapper > .container-fluid{
    max-width: 1300px;
    margin: 0 auto;
    padding: 24px;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.card-body > .h5{
    margin-bottom: 0px;
}
.bg-danger {
    background-color: rgb(233, 31, 31) !important;
}
.btn-hover {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #62d462, #298a25, #62d462);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.btn-hover:hover::before {
    transform: scaleX(1);
}   