<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <h2 class="text-center"><strong>Política de privacidad</strong></h2>
                            <h4 class="text-center">Introducción</h4>
                            <p style="text-align: justify; ">En Blooming, 
                                nos comprometemos a proteger la privacidad y la seguridad de nuestros usuarios y visitantes. 
                                Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos su información personal. 
                                Al utilizar nuestros servicios, usted acepta las prácticas descritas en esta política.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Información que Recopilamos</h4>
                                            <p style="text-align: justify; font-size: 15px;">Recopilamos información de diversas maneras cuando usted utiliza nuestros servicios:</p>
                                            <ol id="lista3">
                                                <li>Información proporcionada por usted: Al registrarse en nuestro sitio, realizar una compra o contactarnos, puede proporcionarnos información como su nombre, dirección de correo electrónico, dirección física y número de teléfono.</li>
                                                <li>Información recopilada automáticamente: Al navegar en nuestro sitio, podemos recopilar información automáticamente a través de cookies y tecnologías similares, como su dirección IP, tipo de navegador, páginas visitadas y tiempo de visita. </li>
                                                <li>Información de terceros: Podemos recibir información sobre usted de terceros con quienes trabajamos, como socios comerciales y servicios de pago.</li>
                                            </ol>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Uso de la Información</h4>
                                            <p style="text-align: justify; font-size: 15px;">Utilizamos la información recopilada para los siguientes fines:</p>
                                            <ol>
                                                <li>Proveer y mejorar nuestros servicios: Utilizamos su información para procesar transacciones, proporcionar soporte al cliente y mejorar nuestros productos y servicios.</li>
                                                <li>Comunicaciones: Podemos enviarle correos electrónicos sobre su cuenta, transacciones o cambios importantes en nuestras políticas. También podemos enviarle ofertas y promociones que consideremos de su interés, siempre y cuando haya dado su consentimiento para recibir tales comunicaciones.</li>
                                                <li>Personalización: Utilizamos la información para personalizar su experiencia en nuestro sitio, mostrando contenido que creemos puede ser de su interés.</li>
                                                <li>Seguridad: Utilizamos la información para proteger nuestros usuarios y servicios contra fraudes y actividades ilegales.</li>
                                            </ol> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Compartir la Información</h4>
                                            <p style="text-align: justify; font-size: 15px;">No vendemos ni alquilamos su información personal a terceros. Sin embargo, podemos compartir su información en las siguientes circunstancias:</p>
                                            <ol id="lista3">
                                                <li>Con proveedores de servicios: Trabajamos con terceros que nos ayudan a operar nuestro negocio, como procesadores de pagos, servicios de envío y proveedores de marketing. Estos terceros solo tienen acceso a la información necesaria para realizar sus funciones y están obligados a mantener la confidencialidad de la misma.</li>
                                                <li>Por razones legales: Podemos divulgar su información si es necesario para cumplir con una obligación legal, proteger nuestros derechos o los de nuestros usuarios, investigar fraudes o responder a una solicitud gubernamental. </li>
                                            </ol>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Seguridad de la Información</h4>
                                            <p style="text-align: justify; font-size: 15px;">Tomamos medidas razonables para proteger su información personal contra acceso no autorizado, alteración, divulgación o destrucción. Sin embargo, ningún método de transmisión por internet o almacenamiento electrónico es completamente seguro, por lo que no podemos garantizar la seguridad absoluta de su información.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Sus Derechos</h4>
                                            <p style="text-align: justify; font-size: 15px;">Dependiendo de su ubicación, puede tener ciertos derechos en relación con su información personal, tales como:</p>
                                            <ol>
                                                <li>Acceso: Puede solicitar una copia de la información personal que tenemos sobre usted.</li>
                                                <li>Rectificación: Puede corregir cualquier información inexacta o incompleta que tengamos sobre usted.</li>
                                                <li>Eliminación: Puede solicitar que eliminemos su información personal, sujeto a ciertas excepciones.</li> 
                                                <li>Restricción: Puede solicitar que limitemos el procesamiento de su información personal en ciertas circunstancias.</li>
                                                <li>Portabilidad: Puede solicitar una copia de su información personal en un formato estructurado y legible por máquina.</li>
                                            </ol> 
                                            <p style="text-align: justify; font-size: 15px;">Para ejercer estos derechos, por favor contáctenos a través de los medios indicados al final de esta política.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Cambios en la Política de Privacidad</h4>
                                            <p style="text-align: justify; font-size: 15px;">Podemos actualizar esta Política de Privacidad de vez en cuando. Cualquier cambio será publicado en esta página y, cuando corresponda, le notificaremos por correo electrónico o mediante una notificación en nuestro sitio web.</p>
                                            <h4>Contacto</h4>
                                            <p style="text-align: justify; font-size: 15px;">Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad o nuestras prácticas de privacidad, no dude en contactarnos en:</p>
                                        
                                            <p style="text-align: justify; font-size: 15px;">Blooming</p>
                                            <p style="text-align: justify; font-size: 15px;">blooming.abp&#64;gmail.com</p>
                                            <p style="text-align: justify; font-size: 15px;">Carr. de San Vicente del Raspeig, s/n</p>
                                            <p style="text-align: justify; font-size: 15px;">Fecha de última actualización: 22-05-2024</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
    </div>  
</div>
