<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="../assets/images/logos/logo.png" width="180" alt="">
            </a>
            <p class="text-center">¿Has olvidado tu contraseña?</p>
            <p class="text-center">Escribe tu email abajo y te enviaremos instrucciones de cómo recuperar tu contraseña</p>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" placeholder="ejemplo@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="button" name="action" (click)="recover()">Recuperar</button>
              <a href="./login" class="btn btn-secondary w-100 py-8 fs-4 mb-4 rounded-2">Volver</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
