<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Editar la Clase <span><i class="ti ti-school" style="font-size: 20px;"></i></span></h5>
                <div class="card">
                  <div class="card-body">
                    <form [formGroup]="form">
                      <div class="mb-3">
                        <label for="Nombre" class="form-label"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</label>
                      <input class="form-control" formControlName="Nombre" id="Nombre">
                      </div>
                      <div class="mb-3">
                        <label for="ID_Centro" class="form-label"><span><i class="ti ti-home" style="font-size: 15px;"></i></span> Centro</label>
                        <select class="form-control" formControlName="ID_Centro" id="ID_Centro">
                          <option *ngFor="let centro of centrosData.centros" [value]="centro.ID_Centro">
                            {{centro.Nombre}}
                          </option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="NumAlumnos" class="form-label"><span><i class="ti ti-123" style="font-size: 15px;"></i></span> Nº Alumnos</label>
                        <input class="form-control" formControlName="NumAlumnos" id="NumAlumnos">
                      </div>
                      <button class="btn btn-primary" (click)="actualizarClase()"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Aceptar</button>
                      <a routerLink="/admin/ver-clases" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
    
  </div>
</div>
</div>
