<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <h2 class="text-center"><strong>Política de Uso de Cookies</strong></h2>
                            <h4 class="text-center">Introducción</h4>
                            <p style="text-align: justify; ">En Blooming, valoramos la privacidad de nuestros usuarios y queremos ser transparentes sobre el uso de cookies en nuestro sitio web. 
                                Esta Política de Cookies explica qué son las cookies, cómo las utilizamos y las opciones que tiene al respecto.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>¿Qué son las Cookies?</h4>
                                            <p style="text-align: justify; font-size: 15px;">Las cookies son pequeños archivos de texto que se almacenan en su dispositivo (computadora, tableta, smartphone) cuando visita un sitio web. Estos archivos permiten al sitio web reconocer su dispositivo y recordar cierta información sobre sus preferencias o acciones pasadas.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Nuestro Uso de Cookies</h4>
                                            <p style="text-align: justify; font-size: 15px;">Actualmente, no utilizamos cookies en nuestro sitio web. Sin embargo, es posible que en el futuro implementemos el uso de cookies para mejorar la experiencia del usuario, proporcionar funcionalidades adicionales o para fines analíticos y de marketing. De ser así, actualizaremos esta política para reflejar cualquier cambio.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Tipos de Cookies que Podríamos Usar</h4>
                                            <p style="text-align: justify; font-size: 15px;">Si decidimos utilizar cookies en el futuro, las cookies podrían clasificarse en las siguientes categorías:</p>
                                            <ol>
                                                <li>Cookies Esenciales: Necesarias para el funcionamiento básico del sitio web. Sin estas cookies, el sitio web no funcionaría correctamente.</li>
                                                <li>Cookies de Rendimiento: Recopilan información sobre cómo los usuarios interactúan con el sitio web, como las páginas más visitadas y los errores que puedan encontrarse. Esta información se utiliza para mejorar el funcionamiento del sitio web.</li>
                                                <li>Cookies de Funcionalidad: Permiten recordar las elecciones que realiza el usuario (como el nombre de usuario, idioma o región) para proporcionar una experiencia más personalizada.</li>
                                                <li>Cookies de Marketing: Se utilizan para mostrar anuncios relevantes para los usuarios y sus intereses. También limitan la cantidad de veces que un usuario ve un anuncio y ayudan a medir la efectividad de las campañas publicitarias.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Control y Eliminación de Cookies</h4>
                                            <p style="text-align: justify; font-size: 15px;">Aunque actualmente no utilizamos cookies, usted puede controlar y eliminar las cookies a través de la configuración de su navegador. A continuación se indican algunos recursos sobre cómo gestionar cookies en los navegadores más comunes:</p>
                                            <ol>
                                                <li>Google Chrome</li>
                                                <li>Mozilla Firefox</li>
                                                <li>Safari</li>
                                                <li>Microsoft Edge</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Cambios en la Política de Cookies</h4>
                                            <p style="text-align: justify; font-size: 15px;">Podemos actualizar esta Política de Cookies ocasionalmente para reflejar cambios en nuestras prácticas o por motivos legales. Publicaremos cualquier actualización en esta página y, si los cambios son significativos, le notificaremos a través de un aviso en nuestro sitio web o por correo electrónico.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Contacto</h4>
                                            <p style="text-align: justify; font-size: 15px;">Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad o nuestras prácticas de privacidad, no dude en contactarnos en:</p>
                                        
                                            <p style="text-align: justify; font-size: 15px;">Blooming</p>
                                            <p style="text-align: justify; font-size: 15px;">blooming.abp&#64;gmail.com</p>
                                            <p style="text-align: justify; font-size: 15px;">Carr. de San Vicente del Raspeig, s/n</p>
                                            <p style="text-align: justify; font-size: 15px;">Fecha de última actualización: 22-05-2024</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
    </div>  
</div>
