.botones{
    display: flex;
    justify-content: space-evenly;
}

.container-btn-crear-clase {
    position: absolute;
    top: 30px;
    right: 30px;
}

.input-group {
    margin-top: 20px;
    margin-right: 20px;
}