<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a class="text-nowrap logo-img">
        <br>
        <img src="../assets/images/logos/logo.png" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <a class="nav-link sidebartoggler nav-icon-hover" id="menuCollapse" href='javascript:document.getElementById("main-wrapper").classList.remove("show-sidebar");'>
          <i class="ti ti-x fs-8"></i>
        </a>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <br>
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item" *ngFor="let item of menu">
          <a class="sidebar-link" [routerLink]="item.url" aria-expanded="false">
            <span>
              <i class="{{item.icono}}"></i>
            </span>
            <span class="hide-menu">{{item.titulo}}</span>
          </a>
        </li>
      </ul>
      
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <div *ngIf="userRole === 'Profesor'">
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="'/profesores/ayuda-ambitos'"  aria-expanded="false">
            <span>
              <i class="ti ti-exclamation-mark"></i>
            </span>
            <span class="hide-menu">Explicación ámbitos </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Sidebar scroll-->
</aside>