<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid"> 
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h5 class="card-title fw-semibold mb-4">Todas las preguntas <span><i class="ti ti-activity" style="font-size: 20px;"></i></span></h5>
                                <div class="input-group" style="width: 200px;">
                                  <input type="text" placeholder="Buscar alumno..." [(ngModel)]="filtroNombre" (input)="filtrarAlumnos()" class="form-control buscador">  
                                </div>
                              </div>
                            <div class="card">
                                <div class="card-body" *ngIf="preguntasData.length > 0; else noRespuestas">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap mb-0 align-middle" style="background-color: white; border-radius: 1em;">
                                            <thead class="text-dark fs-4">
                                                <tr>
                                                    <th><span><i class="ti ti-question-mark" style="font-size: 15px;"></i></span> Pregunta <span class="arrow" (click)="onClickContar(7)">&#x25B2;</span><span class="arrow" (click)="onClickContar(8)"> &#x25BC;</span></th>
                                                    <th><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Respuesta <span class="arrow" (click)="onClickContar(9)">&#x25B2;</span><span class="arrow" (click)="onClickContar(10)"> &#x25BC;</span></th>
                                                    <th><span><i class="ti ti-123" style="font-size: 15px;"></i></span> Ámbito <span class="arrow" (click)="onClickContar(5)">&#x25B2;</span><span class="arrow" (click)="onClickContar(6)"> &#x25BC;</span></th>
                                                    <th><span><i class="ti ti-alert-circle" style="font-size: 15px;"></i></span> Grado <span class="arrow" (click)="onClickContar(11)">&#x25B2;</span><span class="arrow" (click)="onClickContar(12)"> &#x25BC;</span></th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let pregunta of preguntasData">
                                                    <td>{{pregunta.Pregunta.TextoPregunta}}</td>
                                                    <td>{{pregunta.Opcion.TextoOpcion}}</td>
                                                    <td><span [ngClass]="getAmbito(pregunta.Pregunta.Ambito.Nombre)">{{pregunta.Pregunta.Ambito.Nombre}}</span></td>
                                                    <td [ngSwitch]="pregunta.Opcion.Gravedad">
                                                        <span class="badge bg-danger rounded-3 fw-semibold" *ngSwitchCase="-2">Alarmante</span>
                                                        <span class="badge bg-amarillo rounded-3 fw-semibold" *ngSwitchCase="0">Normal</span>
                                                        <span class="badge bg-verde1 rounded-3 fw-semibold" *ngSwitchCase="1">Buena</span>
                                                        <span class="badge bg-success rounded-3 fw-semibold" *ngSwitchCase="2">Muy Buena</span>
                                                    </td>   
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <app-pagination (cambiarPagina)="cambiarPagina($event)" [texto]="true" [totalRegistros]="totalPreguntas" [registroActual]="posActual+1" (filasPagina)="cambiarFilasPagina($event)" [registroPag]="filPag"></app-pagination>
                                    </div>
                                </div>
                                <ng-template #noRespuestas>
                                    <p class="text-center" style="margin-top: 16px; font-size: 20px;">No hay respuestas</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/profesores/ver-perfil-alumno" (click)="verPerfil(alumnoID)" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>